---
import CorporatesSubTabs from '@/components/BorrowVAM/CorporatesSubTabs.astro';
import FinancialSubTabs from '@/components/BorrowVAM/FinancialSubTabs.astro';
const { corporates, financials, corporateTitle,corporateDes,financialTitle,financialDes} = Astro.props;
---

<div class="w-full mx-auto relative">
  <!-- Tab Buttons -->
  <div class="container mx-auto">
     <div class="w-full text-center mt-13 mb-5">
        <p>Solutions designed for you.</p>
    <p class="font-semibold">Start by choosing your segment</p>
  </div>
<div class="flex justify-center mx-2">
 

<div
      class="flex space-x-2 border-1 border-dashed border-[#F58220] max-w-fit relative z-2 p-2 mb-4 md:mb-0"
    >
      <button
        class="borrowvcl-btn py-3  px-6 md:px-12 text-[18px] md:text-[21px] font-medium transition-colors duration-300 lg:min-w-[300px]"
        data-tab="corporates"
        aria-selected="true"
      >
        Corporates
      </button>
      <button
        class="borrowvcl-btn py-3  px-6 md:px-12 text-[18px] md:text-[21px] font-medium transition-colors duration-300 lg:min-w-[300px]"
        data-tab="financial"
        aria-selected="false"
      >
        Financial Institutions
      </button>
    </div>
</div>

  </div>

  <!-- Tab Panels -->
  <div class="relative mt-0">
    <!-- First tab visible -->
    <div
      id="corporates"
      class="borrowvcl-panel inset-0 transition-all duration-500 ease-out transform opacity-100 translate-y-0"
    >
      <section class=" pb-16 md:pb-6">
		<div data-reveal class="fade-up ">
			<CorporatesSubTabs items={corporates} title={corporateTitle} description={corporateDes} />
		</div>
	</section> 
    </div>

    <!-- Second tab hidden by default -->
    <div
      id="financial"
      class="borrowvcl-panel inset-0 transition-all duration-500 ease-out transform opacity-0 -translate-y-2 hidden"
    >
      <section class="pb-16 md:pb-6">
		<div data-reveal class="fade-up ">
			<FinancialSubTabs items={financials} title={financialTitle} description={financialDes} />
		</div>
	</section> 
    </div>
  </div>
</div>
<style>
    button:not(.tabactive) {
    background: linear-gradient(90deg, #00018A, #3BBAE2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     transition: all .3s ease-in-out;
    }
  .tabactive {
    color: #fff !important;
    background: linear-gradient(
      32deg,
      rgba(59, 186, 226, 1) 0%,
      rgba(0, 1, 138, 1) 100%
    );
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial
  }
  button:not(.tabactive):hover {
    color: #fff !important;
    background: linear-gradient(
      32deg,
      rgba(59, 186, 226, 1) 0%,
      rgba(0, 1, 138, 1) 100%
    );
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    cursor: pointer;
  }
  
</style>
<script type="module" src="/src/scripts/borrowvam/vcltabs.js"></script>
