---
import BlogCard from "@/components/common/NewsCard.astro";
import LogoShape from '../../../public/Vivrithi_logo.svg';
import LogoShape2 from '../../../public/logovcl.svg';
const { vivritiCapital } = Astro.props;

import { GRAPHQL } from "../../config/graphql.js";


function getReadingTime(htmlContent) {
  if (!htmlContent) return "1 min read";

  const text = htmlContent
    .replace(/<[^>]*>/g, "") 
    .trim();

  const words = text.split(/\s+/).length;
  const wordsPerMinute = 200;

  const minutes = Math.max(1, Math.ceil(words / wordsPerMinute));
  return `${minutes} min read`;
}
const newsQuery = `{
  news(first: 1000) {
    nodes {
      id
      title
      slug
      content
      date
        news {
        link
            }
      featuredImage { node { sourceUrl } }
      newsCategories { nodes { id name slug } }
    }
  }
}`;

let latestNews = [];

try {
  const res = await fetch(GRAPHQL, {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({ query: newsQuery }),
  });
  const data = await res.json();
  latestNews = data.data.news.nodes.filter(item =>
      item.newsCategories?.nodes?.some(
        cat => cat.slug === "media-release"
      )
    )
   ;
} catch (err) {
  console.error("Failed to fetch news:", err);
}


//latestNews.sort((a, b) => new Date(b.date) - new Date(a.date));


latestNews = latestNews.slice(0, 1); 

---

<div class="bg-white w-full md:pt-[70px]">
<div class="container mx-auto">
  <div class="flex flex-wrap xl:pr-[10px] xl:pl-[15px]">
    <div class="w-full md:w-1/2 md:pr-15">
      <!-- Column 1 content -->
      <div class="px-0 pb-15 md:pb-0 h-full">

    <!-- Paragraph -->
    <div data-reveal class="fade-up flex flex-col items-start  h-full justify-end gap-[20%]">
        <h2 class="text-[28px] md:text-[35px] font-heading leading-[120%] mb-4 gradient-text">
            <img src={LogoShape2.src} alt="Vivrithi" class="w-[250px] h-auto mx-auto md:mx-0" />
        </h2>
    
        <div class="md:w-2/3 blog_banner order-2 md:order-1">
    <!-- {latestNews.map(post => <BlogCard post={post} />)}-->

{latestNews.map((post) => {
  const readTime = getReadingTime(post.content);
      const hasCustomLink = !!post.news?.link;
      const newsUrl = hasCustomLink ? post.news.link : `/news/${post.slug}`;
  return (
    <div data-reveal class="fade-up blog_card flex gap-4" key={post.id}>
      <div class="blog_image w-[120px] shrink-0">
      <a
        href={newsUrl}
        target={hasCustomLink ? "_blank" : undefined}
        rel={hasCustomLink ? "noopener noreferrer" : undefined}
      > 
        <img
          src={post.featuredImage?.node?.sourceUrl || "/blo_thumb.png"}
          class="w-full  object-cover min-h-[150px]"
          alt={post.title}
        />
        </a>
      </div>
      <div class="blog_body flex flex-col items-start justify-center pr-6">
        <a
        href={newsUrl}
        target={hasCustomLink ? "_blank" : undefined}
        rel={hasCustomLink ? "noopener noreferrer" : undefined}
      >
        <h4>Quick Read</h4>
        <span class="small text-sm gradient-text">
          {post.newsCategories?.[0]?.nodes?.[0]?.name || "Report"} | {readTime}
        </span>
        <p class="pt-[10px]">{
  post.title
    ? post.title.length > 40
      ? post.title.substring(0, 40) + "..."
      : post.title
    : ""
}
</p>
        <span class="blog_date pt-[10px] text-sm flex gap-2 items-center">
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 0C4.40887 0 2.88274 0.632146 1.75707 1.75707C0.632078 2.88261 0 4.40887 0 6C0 7.59113 0.632146 9.11726 1.75707 10.2429C2.88261 11.3679 4.40887 12 6 12C7.59113 12 9.11726 11.3679 10.2429 10.2429C11.3679 9.11739 12 7.59113 12 6C11.9984 4.40942 11.3657 2.88425 10.2407 1.75927C9.11575 0.634286 7.59058 0.00164571 6 0ZM6 11.1429C4.63607 11.1429 3.32791 10.6013 2.36352 9.63648C1.39869 8.6722 0.857143 7.36402 0.857143 6C0.857143 4.63598 1.39875 3.32791 2.36352 2.36352C3.3278 1.39869 4.63598 0.857143 6 0.857143C7.36402 0.857143 8.67209 1.39875 9.63648 2.36352C10.6013 3.3278 11.1429 4.63598 11.1429 6C11.1412 7.36339 10.5991 8.67058 9.63483 9.63483C8.67056 10.5991 7.36347 11.1412 6 11.1429ZM6.42857 2.14286V5.6448C6.42964 5.98605 6.29411 6.31337 6.05196 6.55391L4.16035 8.44552V8.44605C3.99213 8.60838 3.72481 8.6057 3.55928 8.4407C3.39429 8.27516 3.3916 8.00785 3.55392 7.83963L5.44554 5.94802H5.44607C5.52643 5.86766 5.57143 5.75837 5.57143 5.64481V2.14286C5.57143 1.90607 5.76321 1.71429 6 1.71429C6.23679 1.71429 6.42857 1.90607 6.42857 2.14286Z" fill="#2E2E2E"/>
          </svg>
          {new Date(post.date).toLocaleDateString("en-US", { weekday: 'long', day: 'numeric', month: 'short' })}
        </span>
        </a>
      </div>
      
    </div>
  );
})}


        </div>

       </div>
      </div>
    </div>
    <div class="w-full flex flex-col sm:flex-row md:w-1/2 px-2 gap-[20px]">
      
      <div class="basis-1/2">
        <div class="w-full hovergradient shrink-0 bg-[url(/who_we_are.png)] bg-cover bg-center min-h-[400px] sm:min-h-[400px] xl:aspect-31/55 lg:aspect-auto h-full  object-cover flex items-start flex-col justify-center p-5 overflow-hidden text-dispalyhover">
                 <h2 class="text-[18px] font-heading leading-[120%] gradient-text py-5 uppercase mb-0">
                    Who we are
                </h2>
                <a
                        data-reveal
                        class="fade-up contact_cta py-3 px-4 flex items-center gap-2 text-white uppercase hover:text-blue-600 transition my-4"
                      >
                        <span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="11" height="15" viewBox="0 0 11 15" fill="none">
                          <path d="M1 13.5001L9 7.00006L1 1.00006" stroke="white" stroke-width="2" stroke-linecap="round"/>
                          </svg>
                        </span>
                      </a>
                <div class="hover-dispaly">
                 <!--  <p data-reveal class="fade-up text-[18px] font-semibold mb-4">
                Vivriti Capital (VCL) aims to bring necessary debt finance to hundreds of 
mid-market enterprises across India. Since inception, we have been addressing the gap in India’s debt capital markets by offering customised financing solutions across diversified sectors. 
                </p> -->
                <p data-reveal class="fade-up font-normal text-[18px]">
              {vivritiCapital?.whoWeAre}
                </p>
                </div>
                
          </div>
      </div>
      <div class="basis-1/2 flex flex-col">
        <div class="w-full shrink-0 bg-cover bg-center  min-h-[300px] xl:aspect-159/171 lg:aspect-auto object-cover flex items-center mb-[20px] flex-col justify-end" style={`background-image: url(${vivritiCapital?.rightCardImage?.node?.sourceUrl})`}
>
  
                 <h4 class="text-[18px] font-heading leading-[120%] text-white uppercase">
      {vivritiCapital?.rightCardTitle}            </h2>
                 <a
                        href="https://www.vivriticapital.com"
                        target="_blank"
                        data-reveal
                        class="fade-up contact_cta contact_cta5 flex items-center gap-2 text-white uppercase hover:text-blue-600 transition my-4"
                      >
                        <span data-text="Visit website">Visit website</span>
                        <img src={LogoShape.src} alt="Vivrithi" class="w-5 h-5" />
                      </a>
          </div>
          <div class="w-full hovergradient shrink-0 bg-[url(/what-we-do.png)] bg-cover bg-center xl:aspect-53/33 lg:aspect-auto object-cover flex items-start flex-1 p-5 flex-col justify-end overflow-hidden text-dispalyhover">
            <div class="hover-dispaly">
                <p data-reveal class="fade-up font-normal text-[18px]">
                                 {vivritiCapital?.whatWeDo}

                </p>
                </div>
                 <h2 class="text-[18px] font-heading leading-[120%] mt-4 gradient-text uppercase">
                    what we do
                </h2>
                <a
                        data-reveal
                        class="fade-up contact_cta py-5 px-4 flex items-center gap-2 text-white uppercase hover:text-blue-600 transition my-4"
                      >
                        <span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="11" height="15" viewBox="0 0 11 15" fill="none">
                          <path d="M1 13.5001L9 7.00006L1 1.00006" stroke="white" stroke-width="2" stroke-linecap="round"/>
                          </svg>
                        </span>
                      </a>
          </div>
      </div>



    </div>
  </div>
</div>
</div>

<style>


.contact_cta5 {
  padding: 10px 30px;
  display: flex;
  font-size: 14px;
}
.dashedLine3,
	.dashedLine4 {
	  transform: scaleX(-1)!important;
	  transform-origin: center!important;
	}
.hover-dispaly{
  position: absolute;
  left: -200%;
  transition: all .3s ease-in-out;
  z-index: -2;
  opacity: 0;
}
.text-dispalyhover:hover{
  cursor: pointer;
}
.text-dispalyhover .contact_cta{
  right: 0;
  transition: all .3s ease-in-out;
}
.text-dispalyhover:hover .hover-dispaly{
  left: 0;
  opacity: 1;
  position: relative;
  z-index: initial;
}
.text-dispalyhover:hover .contact_cta {
  right:200%;
  position: absolute;
  z-index: -1;

}

</style>
<script>

</script>