---
import LogoShape from "../../../public/Vivrithi_logo.svg";
import LogoShape1 from "../../../public/logowhite.svg";
const { features = [] } = Astro.props;
---

<div class="w-full xl:px-0 md:px-[0px] md:pt-[70px] pt-[40px] px-[10px] md:px-[20px]">
  <div class="container mx-auto px-4 lg:px-8 xl:px-4">
    <div
      class="flex flex-col md:flex-row justify-between md:gap-30 mb-4 md:mb-20 pt-10 md:pt-0"
    >
      <div class="w-full md:w-2/12">
      <h2
        class="text-[28px] sticky top-0  md:text-[35px] md:text-4xl md:mt-15 font-heading leading-[120%] mb-4 gradient-text"
      >
        Key features
      </h2>
      </div>
           <div class="w-full md:w-10/12 grid grid-cols-1 sm:grid-cols-1 gap-x-15 gap-y-5">

       <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-15 gap-y-5">
  {features.map((section, sIdx) =>
    section.items?.map((item, iIdx) => (
      <div class="w-full" key={`${sIdx}-${iIdx}`}>
        <img src={LogoShape.src} alt="Vivrithi" class="w-[50px] h-auto" />
        <div class="border-1 border-dashed border-[#F58220] my-6"></div>
        <div class="number_fill text-[14px]">{String(iIdx + 1).padStart(2, '0')}</div>
        <h3 class="text-[22px] md:text-[28px] font-heading leading-[34px] font-normal mt-4 gradient-text">
          {item.title}
        </h3>
        <div class="mt-2 mb-5 desc text-sm md:text-lg">
        

          {item.sub_items?.length > 0 && (
            <ul class="pl-4 flex flex-col gap-y-6">
              {item.sub_items.map((sub, subIdx) => (
                <li key={subIdx} class="list-disc">
                  <span class="font-semibold">{sub.title}: </span> {sub.description}
                </li>
              ))}
            </ul>
          )}
        </div>
      </div>
    ))
  )}


</div>   

</div>
    </div>
  </div>
</div>
