---
import LogoShape from "../../../public/Vivrithi_logo.svg";
import LogoShape1 from "../../../public/logowhite.svg";
---

<div class="w-full xl:px-0 md:px-[0px] md:pt-[70px] pt-[40px] px-[10px] md:px-[20px]">
  <div class="container mx-auto px-4 lg:px-8 xl:px-4">
    <div
      class="flex flex-col md:flex-row justify-between md:gap-30 mb-4 md:mb-20 pt-10 md:pt-0"
    >
     <div class="w-full md:w-2/12">
      <h2
        class="text-[28px] sticky top-0  md:text-[35px] md:text-4xl md:mt-15 font-heading leading-[120%] mb-4 gradient-text"
      >
        Key features
      </h2>
      </div>
      <div class="w-full md:w-10/12 grid grid-cols-1 sm:grid-cols-2 gap-x-15 gap-y-5">
        <div class="w-full">
          <img src={LogoShape.src} alt="Vivrithi" class="w-[50px] h-auto" />
          <div class="border-1 border-dashed border-[#F58220] my-6"></div>
          <div class="number_fill text-[14px]">01</div>
          <h3
            class="text-[22px] md:text-[28px] leading-[34px] font-normal mt-4 gradient-text"
          >
            Investor Onboarding Dashboard
          </h3>
          <div class="mt-2 mb-5 desc text-sm md:text-lg">
            <ul class="pl-4 flex flex-col gap-y-6">
              <li class="list-disc">Track total investor applications (completed or in progress).</li>
              <li class="list-disc">Get call-to-action prompts to onboard new investors.</li>
              <li class="list-disc">Drill down into individual application status and investor details.</li>

            </ul>
          </div>
        </div>
        <div class="w-full">
          <img src={LogoShape.src} alt="Vivrithi" class="w-[50px] h-auto" />
          <div class="border-1 border-dashed border-[#F58220] my-6"></div>
          <div class="number_fill text-[14px]">02</div>
          <h3
            class="text-[22px] md:text-[28px] leading-[34px] font-normal mt-4 gradient-text"
          >
            Fund Insights

          </h3>
          <div class="mt-2 mb-5 desc text-sm md:text-lg">
            <ul class="pl-4 flex flex-col gap-y-6">
              <li class="list-disc">Access the registered fund list with category, type, tenor, and maturity details.</li>
<li class="list-disc">View fund-level XIRR, size, commitments, and ratings.</li>
<li class="list-disc">Explore visual dashboards for distribution waterfall, fund structure, and management fees.
</li>

            </ul>
          </div>
        </div>
        <div class="w-full">
          <img src={LogoShape.src} alt="Vivrithi" class="w-[50px] h-auto" />
          <div class="border-1 border-dashed border-[#F58220] my-6"></div>
          <div class="number_fill text-[14px]">03</div>
          <h3
            class="text-[22px] md:text-[28px] leading-[34px] font-normal mt-4 gradient-text"
          >
           Team Structure Management


          </h3>
          <div class="mt-2 mb-5 desc text-sm md:text-lg">
            <ul class="pl-4 flex flex-col gap-y-6">
              <li class="list-disc">Add and manage team hierarchy (including Sales RMs, sub-distributors, and others).</li>
<li class="list-disc">Provide role-based access to investor lists and brokerage data.
</li>

            </ul>
          </div>
          
        </div>

         <div class="w-full">
          <img src={LogoShape.src} alt="Vivrithi" class="w-[50px] h-auto" />
          <div class="border-1 border-dashed border-[#F58220] my-6"></div>
          <div class="number_fill text-[14px]">04</div>
          <h3
            class="text-[22px] md:text-[28px] leading-[34px] font-normal mt-4 gradient-text"
          >
            Brokerage Module



          </h3>
          <div class="mt-2 mb-5 desc text-sm md:text-lg">
            <ul class="pl-4 flex flex-col gap-y-6">
              <li class="list-disc">
                Live view of gross brokerage since inception.</li>
<li class="list-disc">Track last brokerage payout with detailed breakdowns by investor and transaction.</li>
<li class="list-disc">View brokerage type (upfront or trail), percentage, and payout dates.




              </li>
             
            </ul>
          </div>
          
        </div>


        <div class="w-full">
          <img src={LogoShape.src} alt="Vivrithi" class="w-[50px] h-auto" />
          <div class="border-1 border-dashed border-[#F58220] my-6"></div>
          <div class="number_fill text-[14px]">05</div>
          <h3
            class="text-[22px] md:text-[28px] leading-[34px] font-normal mt-4 gradient-text"
          >
           Fund Performance and SDG Tracking





          </h3>
          <div class="mt-2 mb-5 desc text-sm md:text-lg">
            <ul class="pl-4 flex flex-col gap-y-6">
              <li class="list-disc">
                Highlight ESG alignment and fund-specific SDG commitments.</li>
 <li class="list-disc">Use visual cards to showcase fund goals and measurable social impact.



              </li>
             
            </ul>
          </div>
          
        </div>

      </div>
    </div>
  </div>
</div>
