---
import LogoShape from "../../../public/Vivrithi_logo.svg";
import LogoShape1 from "../../../public/logowhite.svg";
---

<div class="w-full xl:px-0 md:px-[0px] md:pt-[70px] pt-[40px] px-[10px] md:px-[20px]">
  <div class="container mx-auto px-4 lg:px-8 xl:px-4">
    <div
      class="flex flex-col md:flex-row justify-between md:gap-30 mb-4 md:mb-20 pt-10 md:pt-0"
    >
     <div class="w-full md:w-2/12">
      <h2
        class="text-[28px] sticky top-0  md:text-[35px] md:text-4xl md:mt-15 font-heading leading-[120%] mb-4 gradient-text"
      >
        Key features
      </h2>
      </div>
      <div class="w-full md:w-10/12 grid grid-cols-1 sm:grid-cols-2 gap-x-15 gap-y-5">
        <div class="w-full">
          <img src={LogoShape.src} alt="Vivrithi" class="w-[50px] h-auto" />
          <div class="border-1 border-dashed border-[#F58220] my-6"></div>
          <div class="number_fill text-[14px]">01</div>
          <h3
            class="text-[22px] md:text-[28px] leading-[34px] font-normal mt-4 gradient-text"
          >
            Fund Structuring
          </h3>
          <div class="mt-2 mb-5 desc text-sm md:text-lg">
            <ul class="pl-4 flex flex-col gap-y-6">
              <li class="list-disc">
                Define classes, subclasses, series, and hurdle details.

              </li>
            </ul>
          </div>
        </div>
        <div class="w-full">
          <img src={LogoShape.src} alt="Vivrithi" class="w-[50px] h-auto" />
          <div class="border-1 border-dashed border-[#F58220] my-6"></div>
          <div class="number_fill text-[14px]">02</div>
          <h3
            class="text-[22px] md:text-[28px] leading-[34px] font-normal mt-4 gradient-text"
          >
            Regulatory Data Management

          </h3>
          <div class="mt-2 mb-5 desc text-sm md:text-lg">
            <ul class="pl-4 flex flex-col gap-y-6">
              <li class="list-disc">Capture PPM, SEBI registration, ratings, and key dates.</li>

            </ul>
          </div>
        </div>
        <div class="w-full">
          <img src={LogoShape.src} alt="Vivrithi" class="w-[50px] h-auto" />
          <div class="border-1 border-dashed border-[#F58220] my-6"></div>
          <div class="number_fill text-[14px]">03</div>
          <h3
            class="text-[22px] md:text-[28px] leading-[34px] font-normal mt-4 gradient-text"
          >
           Document Management


          </h3>
          <div class="mt-2 mb-5 desc text-sm md:text-lg">
            <ul class="pl-4 flex flex-col gap-y-6">
              <li class="list-disc">Upload, version, and manage core fund documents.</li>

            </ul>
          </div>
          
        </div>

         <div class="w-full">
          <img src={LogoShape.src} alt="Vivrithi" class="w-[50px] h-auto" />
          <div class="border-1 border-dashed border-[#F58220] my-6"></div>
          <div class="number_fill text-[14px]">04</div>
          <h3
            class="text-[22px] md:text-[28px] leading-[34px] font-normal mt-4 gradient-text"
          >
            Governed Workflows


          </h3>
          <div class="mt-2 mb-5 desc text-sm md:text-lg">
            <ul class="pl-4 flex flex-col gap-y-6">
              <li class="list-disc">
                Maker-checker flows and product committee approvals for updates.



              </li>
              <li class="list-disc">
                Fund Accounting (Downstream)



              </li>
             
            </ul>
          </div>
          
        </div>


        <div class="w-full">
          <img src={LogoShape.src} alt="Vivrithi" class="w-[50px] h-auto" />
          <div class="border-1 border-dashed border-[#F58220] my-6"></div>
          <div class="number_fill text-[14px]">05</div>
          <h3
            class="text-[22px] md:text-[28px] leading-[34px] font-normal mt-4 gradient-text"
          >
           NAV Calculation Engine




          </h3>
          <div class="mt-2 mb-5 desc text-sm md:text-lg">
            <ul class="pl-4 flex flex-col gap-y-6">
              <li class="list-disc">
                Supports customizable logic for multiple fund types.


              </li>
             
            </ul>
          </div>
          
        </div>

         <div class="w-full">
          <img src={LogoShape.src} alt="Vivrithi" class="w-[50px] h-auto" />
          <div class="border-1 border-dashed border-[#F58220] my-6"></div>
          <div class="number_fill text-[14px]">06</div>
          <h3
            class="text-[22px] md:text-[28px] leading-[34px] font-normal mt-4 gradient-text"
          >
           Data Ingestion





          </h3>
          <div class="mt-2 mb-5 desc text-sm md:text-lg">
            <ul class="pl-4 flex flex-col gap-y-6">
              <li class="list-disc">
                Automates investor contributions, income, fees, taxes, TDS, and hurdle income.


              </li>
             
            </ul>
          </div>
          
        </div>

        <div class="w-full">
          <img src={LogoShape.src} alt="Vivrithi" class="w-[50px] h-auto" />
          <div class="border-1 border-dashed border-[#F58220] my-6"></div>
          <div class="number_fill text-[14px]">07</div>
          <h3
            class="text-[22px] md:text-[28px] leading-[34px] font-normal mt-4 gradient-text"
          >
           Distributions





          </h3>
          <div class="mt-2 mb-5 desc text-sm md:text-lg">
            <ul class="pl-4 flex flex-col gap-y-6">
              <li class="list-disc">
               Initiate, process, and track distributions efficiently.



              </li>
             
            </ul>
          </div>
          
        </div>

        <div class="w-full">
          <img src={LogoShape.src} alt="Vivrithi" class="w-[50px] h-auto" />
          <div class="border-1 border-dashed border-[#F58220] my-6"></div>
          <div class="number_fill text-[14px]">08</div>
          <h3
            class="text-[22px] md:text-[28px] leading-[34px] font-normal mt-4 gradient-text"
          >
           Reporting





          </h3>
          <div class="mt-2 mb-5 desc text-sm md:text-lg">
            <ul class="pl-4 flex flex-col gap-y-6">
              <li class="list-disc">
                Generate shadow NAV, investor-wise, and PAN/Folio-wise reports.



              </li>
             
            </ul>
          </div>
          
        </div>

        <div class="w-full">
          <img src={LogoShape.src} alt="Vivrithi" class="w-[50px] h-auto" />
          <div class="border-1 border-dashed border-[#F58220] my-6"></div>
          <div class="number_fill text-[14px]">09</div>
          <h3
            class="text-[22px] md:text-[28px] leading-[34px] font-normal mt-4 gradient-text"
          >
           On-Demand Configuration






          </h3>
          <div class="mt-2 mb-5 desc text-sm md:text-lg">
            <ul class="pl-4 flex flex-col gap-y-6">
              <li class="list-disc">
                Add new funds and structures without system downtime.



              </li>
             
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
