---
import LogoShape from "../../../public/Vivrithi_logo.svg";
import LogoShape1 from "../../../public/logowhite.svg";
---

<div class="w-full xl:px-0 md:px-[0px] md:pt-[70px] pt-[40px] px-[10px] md:px-[20px]">
  <div class="container mx-auto px-4 lg:px-8 xl:px-4">
    <div
      class="flex flex-col md:flex-row justify-between md:gap-30 mb-4 md:mb-20 pt-10 md:pt-0"
    >
     <div class="w-full md:w-2/12">
      <h2
        class="text-[28px] sticky top-0  md:text-[35px] md:text-4xl md:mt-15 font-heading leading-[120%] mb-4 gradient-text"
      >
        Key features
      </h2>
      </div>
      <div class="w-full md:w-10/12 grid grid-cols-1 sm:grid-cols-2 gap-x-15 gap-y-5">
        <div class="w-full">
          <img src={LogoShape.src} alt="Vivrithi" class="w-[50px] h-auto" />
          <div class="border-1 border-dashed border-[#F58220] my-6"></div>
          <div class="number_fill text-[14px]">01</div>
          <h3
            class="text-[22px] md:text-[28px] leading-[34px] font-normal mt-4 gradient-text"
          >
            Portfolio Overview
          </h3>
          <div class="mt-2 mb-5 desc text-sm md:text-lg">
            <ul class="pl-4 flex flex-col gap-y-6">
              <li class="list-disc">View net worth, invested amount, and number of invested funds.</li>
              <li class="list-disc">Breakdown of commitment, capital returned, and income returned.</li>
              <li class="list-disc">Track fund XIRR, maturity timelines, and NAV.</li>

            </ul>
          </div>
        </div>
        <div class="w-full">
          <img src={LogoShape.src} alt="Vivrithi" class="w-[50px] h-auto" />
          <div class="border-1 border-dashed border-[#F58220] my-6"></div>
          <div class="number_fill text-[14px]">02</div>
          <h3
            class="text-[22px] md:text-[28px] leading-[34px] font-normal mt-4 gradient-text"
          >
           Investment Explorer

          </h3>
          <div class="mt-2 mb-5 desc text-sm md:text-lg">
            <ul class="pl-4 flex flex-col gap-y-6">
              <li class="list-disc">Browse available AIF products.</li>
<li class="list-disc">View fund summary, key dates, lock-in period, and expected returns.</li>
<li class="list-disc">Visual display of Distribution Waterfall and SDG goals.
</li>

            </ul>
          </div>
        </div>
        <div class="w-full">
          <img src={LogoShape.src} alt="Vivrithi" class="w-[50px] h-auto" />
          <div class="border-1 border-dashed border-[#F58220] my-6"></div>
          <div class="number_fill text-[14px]">03</div>
          <h3
            class="text-[22px] md:text-[28px] leading-[34px] font-normal mt-4 gradient-text"
          >
           Payout History


          </h3>
          <div class="mt-2 mb-5 desc text-sm md:text-lg">
            <ul class="pl-4 flex flex-col gap-y-6">
              <li class="list-disc">Access payout ledger including principal and income returns.</li>
<li class="list-disc">Filter payouts by date and amount.</li>

            </ul>
          </div>
          
        </div>

         <div class="w-full">
          <img src={LogoShape.src} alt="Vivrithi" class="w-[50px] h-auto" />
          <div class="border-1 border-dashed border-[#F58220] my-6"></div>
          <div class="number_fill text-[14px]">04</div>
          <h3
            class="text-[22px] md:text-[28px] leading-[34px] font-normal mt-4 gradient-text"
          >
            Reports Access



          </h3>
          <div class="mt-2 mb-5 desc text-sm md:text-lg">
            <ul class="pl-4 flex flex-col gap-y-6">
              <li class="list-disc">
                Download statements and reports directly from the UI (Statement of Account, Income Statement, Performance Report, Form 64C, Executed Contribution Agreement).</li>
<li class="list-disc">Access fund-specific reports like Fact Sheet, Valuation, PPM, and Annual Report.




              </li>
             
            </ul>
          </div>
          
        </div>


        <div class="w-full">
          <img src={LogoShape.src} alt="Vivrithi" class="w-[50px] h-auto" />
          <div class="border-1 border-dashed border-[#F58220] my-6"></div>
          <div class="number_fill text-[14px]">05</div>
          <h3
            class="text-[22px] md:text-[28px] leading-[34px] font-normal mt-4 gradient-text"
          >
           Help Desk and Queries





          </h3>
          <div class="mt-2 mb-5 desc text-sm md:text-lg">
            <ul class="pl-4 flex flex-col gap-y-6">
              <li class="list-disc">Raise queries via form.</li>
 <li class="list-disc">Upload attachments or supporting documents.</li>
 <li class="list-disc">Contact support via WhatsApp or Phone.</li>
             
            </ul>
          </div>
          
        </div>

      </div>
    </div>
  </div>
</div>
